<mat-card>
  <mat-card-content>
    <div class="row justify-content-center mt-5">
      <div class="mb-5">
          <form class="max-w-sm mx-auto" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
            <div class="mb-2">
              <label><b>Title:</b></label>
              <br>
              <mat-form-field>
                <input matInput placeholder="Ex. Harry Potter" formControlName="title">
              </mat-form-field>
            </div>
     
            <div class="mb-2">
              <label><b>Price:</b></label>
              <br>
              <mat-form-field>
                <input matInput formControlName="price">
              </mat-form-field>
            </div>
     
            <div class="mb-2">
              <label><b>Description:</b></label>
              <br>
              <mat-form-field>
    
                <input matInput formControlName="description">
              </mat-form-field>
            </div>
            <div class="mb-2">
            <mat-chip-listbox aria-label="Book type" formControlName="book_type">
              <mat-chip-option>Local Author</mat-chip-option>
              <mat-chip-option>Foreign Author</mat-chip-option>
            </mat-chip-listbox>
            </div>
            
            <br>
            <div class="mb-2">
              <!-- <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">Add Book</button> -->
              <button mat-button class="font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" color="accent" type="submit">Add Book</button>
            </div>
            
            
          </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>